.card {
    border: thin solid black;
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
}

.clickable {
    background-color: silver;
    cursor: pointer;
}

.clickable:hover {
    background-color: gray;
}

body {
    margin: 0px;
}
